nav#navbar {
    position: fixed;
    top: 0;
}

p#firstCatcher {
    width: 400px;
    height: 200px;
}

img#bigCookie {
    height: 500px;
    width: 500px;
}



form#contactForm {
    width: 200px;
    margin: auto;
}

input#service {

}

div#contactInfo {
    width: 200px;
    margin: auto;
}